<!DOCTYPE html>
<html>
<head>
  <title>Продажа сахара оптом</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render partial: 'layouts/metrika' %>

</body>
</html>
